.blue-accent {
	--accent-color: var(--fade-uikit-gradient-blue);
}

.green-accent {
	--accent-color: var(--fade-uikit-gradient-green);
}

.red-accent {
	--accent-color: var(--fade-uikit-gradient-red);
}

.yellow-accent {
	--accent-color: var(--fade-uikit-gradient-yellow);
}

.purple-accent {
	--accent-color: var(--fade-uikit-gradient-purple);
}

.pink-accent {
	--accent-color: var(--fade-uikit-gradient-pink);
}

.suggestions-list {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
	left: 0;
	top: 0;
	border-radius: var(--fade-uikit-radius-md);
	z-index: var(--fade-uikit-z-index-md);
	background: var(--fade-uikit-gradient-base);
	box-shadow: var(--fade-uikit-shadow-lg);
	list-style: none;
	backdrop-filter: blur(20px);
	max-height: 17.8rem;
	padding: 4.7rem 3.4rem 1.7rem;
	font-size: 1.6rem;
	font-weight: 300;
	transform-origin: top;
	animation: dropDownMove 0.3s ease forwards;
}

.ghost {
	background: var(--fade-uikit-gradient-component);
}

.wrapper {
	flex: 1;
	border-top: 1px solid var(--fade-uikit-gray-muted);
}

.suggestion-item {
	cursor: pointer;
}

.suggestion-item:first-child {
	border-top: 1px solid var(--fade-uikit-gray-muted);
}

.active {
	background: var(--fade-uikit-gray-muted);
}

.suggestion-label {
	width: 50%;
	height: 100%;
	padding: 1.55rem 0 1.45rem;
	border-bottom: 1px solid var(--fade-uikit-gray-muted);
	text-align: start;
}

.highlight {
	color: var(--fade-uikit-blue-soft);
}

.highlight.text-accent {
	background: var(--accent-color, var(--fade-uikit-gradient-blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
