.input {
	display: flex;
	padding: 1.7rem 3.4rem;
	border-radius: var(--fade-uikit-radius-md);
	box-shadow: var(--fade-uikit-shadow-lg);
	background: var(--fade-uikit-gradient-base);
	color: inherit;
	caret-color: var(--caret-color, var(--fade-uikit-white));
	height: 4.7rem;
	border: none;
	font-size: 1.6rem;
	font-weight: 300;
	transition:
		filter 0.2s ease,
		opacity 0.2s ease;
}

.input:hover {
	filter: brightness(0.95);
}

.input:focus-visible {
	outline: none;
}

.input:disabled {
	cursor: not-allowed;
	opacity: 0.65;
}

.input::placeholder {
	color: var(--placeholder-color, var(--fade-uikit-white-soft));
}

.ghost {
	background: var(--fade-uikit-gradient-component);
}
