.blue-accent {
	--sb-accent-color: var(--fade-uikit-gradient-blue);
}

.green-accent {
	--sb-accent-color: var(--fade-uikit-gradient-green);
}

.red-accent {
	--sb-accent-color: var(--fade-uikit-gradient-red);
}

.yellow-accent {
	--sb-accent-color: var(--fade-uikit-gradient-yellow);
}

.purple-accent {
	--sb-accent-color: var(--fade-uikit-gradient-purple);
}

.pink-accent {
	--sb-accent-color: var(--fade-uikit-gradient-pink);
}

.scroll-area {
	color: inherit;
	border-radius: var(--fade-uikit-radius-md);
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.content {
	-ms-overflow-style: none;
	overflow: auto;
	padding: 1rem;
	scrollbar-width: none;
}

.content::-webkit-scrollbar {
	display: none;
}

.button {
	background: var(--sb-accent-color, var(--sb-thumb-color));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
	border: none;
	border-radius: var(--fade-uikit-radius-md);
	cursor: pointer;
	font-size: 1.4rem;
	text-align: center;
	padding: 4px 6px;
	transition:
		transform 0.05s,
		filter 0.2s ease;
	user-select: none;
}

.button:hover {
	filter: brightness(0.95);
}

.button:active {
	transform: translateY(1px);
}

.button:focus {
	outline: none;
}

.scrollbar-vertical {
	display: grid;
	gap: var(--sb-gap);
	grid-template-columns: 1fr;
	padding: 1rem 0.5rem;
	place-items: center;
}

.scrollbar-horizontal {
	display: grid;
	align-items: center;
	gap: var(--sb-gap);
	padding: 0.5rem 1rem 1rem 1rem;
	grid-column: 1 / -1;
}

.track-and-thumb-vertical {
	position: relative;
	height: 100%;
	width: var(--sb-track-thickness);
	transition: filter 0.2s ease;
}

.track-and-thumb-horizontal {
	position: relative;
	height: var(--sb-track-thickness);
	width: 100%;
	transition: filter 0.2s ease;
}

.track {
	touch-action: none;
	background: var(--sb-track-color);
	border-radius: var(--sb-track-radius);
	position: absolute;
	inset: 0;
	cursor: pointer;
}

.thumb-vertical {
	touch-action: none;
	position: absolute;
	left: 0;
	right: 0;
	border-radius: var(--sb-thumb-radius);
	background: var(--sb-accent-color, var(--sb-thumb-color));
}

.thumb-vertical:hover {
	filter: brightness(0.95);
}

.thumb-horizontal {
	touch-action: none;
	position: absolute;
	top: 0;
	bottom: 0;
	border-radius: var(--sb-thumb-radius);
	background: var(--sb-accent-color, var(--sb-thumb-color));
}

.thumb-horizontal:hover {
	filter: brightness(0.95);
}

.track-vertical,
.track-horizontal {
	z-index: 0;
}

.thumb-vertical,
.thumb-horizontal {
	z-index: 1;
}
