.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 4.7rem;
	gap: 1rem;
	color: var(--fade-uikit-text-primary);
	backdrop-filter: blur(20px);
	background: var(--fade-uikit-gradient-btn);
	outline: none;
	border-radius: 1rem;
	border: none;
	box-shadow: var(--fade-uikit-shadow-lg);
	transition:
		background-color 0.3s ease,
		filter 0.2s ease;

	-webkit-backdrop-filter: blur(20px);
}

.button:disabled {
	pointer-events: none;
	opacity: 0.5;
}

.button:hover:not(:disabled) {
	filter: brightness(0.95);
}

.outline {
	background: transparent;
	color: var(--fade-uikit-text-primary);
	border: 1px solid var(--fade-uikit-text-primary);
	box-shadow: none;
}

.sm {
	padding: 0.95rem 1.3rem;
}

.md {
	padding: 1.8rem 2.2rem;
}

.lg {
	padding: 1.05rem 4.675rem;
}

.light {
	color: var(--fade-uikit-black);
	background: var(--fade-uikit-white) var(--fade-uikit-gradient-btn);
}

.dark {
	color: var(--fade-uikit-white);
	background: var(--fade-uikit-black-soft) var(--fade-uikit-gradient-btn);
}

.pink {
	background: var(--fade-uikit-gradient-pink);
	color: var(--fade-uikit-white);
}

.green {
	background: var(--fade-uikit-gradient-green);
	color: var(--fade-uikit-white);
}

.yellow {
	background: var(--fade-uikit-gradient-yellow);
	color: var(--fade-uikit-white);
}

.blue {
	background: var(--fade-uikit-gradient-blue);
	color: var(--fade-uikit-white);
}

.purple {
	background: var(--fade-uikit-gradient-purple);
	color: var(--fade-uikit-white);
}

.red {
	background: var(--fade-uikit-gradient-red);
	color: var(--fade-uikit-white);
}
