.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	min-height: 4.4rem;
	gap: 1rem;
	backdrop-filter: blur(20px);
	outline: none;
	border-radius: var(--fade-uikit-radius-md);
	border: none;
	color: inherit;
	box-shadow: var(--fade-uikit-shadow-lg);
	position: relative;
	transition:
		filter 0.2s ease,
		opacity 0.2s ease,
		border-color 0.2s ease,
		transform 0.1s ease;
	will-change: background-color, filter, border-color, border-width;
	line-height: 100%;
	appearance: none;
	-webkit-appearance: none;
	-webkit-backdrop-filter: blur(20px);
}

/* Состояния */
.button:disabled {
	pointer-events: none;
	opacity: 0.65;
	cursor: not-allowed;
}

.button:hover:not(:disabled) {
	filter: brightness(0.95);
}

.button:active:not(:disabled) {
	transform: translateY(1px);
}

.button:focus {
	outline: none;
}

.button:focus-visible {
	outline: 1px dashed currentColor;
}

/* Размеры */
.sm {
	padding: 0.95rem 1.3rem;
	font-size: 1.2rem;
}

.md {
	padding: 1.8rem 2.2rem;
	font-size: 1.4rem;
}

.lg {
	padding: 1.05rem 4.675rem;
	font-size: 1.6rem;
}

/* Варианты */
.default {
	color: var(--fade-uikit-white);
	background: var(--fade-uikit-gradient-base);
}

.outline {
	background: transparent;
	box-shadow: none;
	border: 1px solid currentColor;
}

.ghost {
	background: var(--fade-uikit-gradient-component);
	border: none;
}

/* Модификаторы */
.fullWidth {
	width: 100%;
}

.rounded {
	border-radius: var(--fade-uikit-radius-full);
}

.loading {
	pointer-events: none;
	opacity: 0.8;
}

/* Иконки */
.icon {
	display: inline-flex;
	align-items: center;
}

/* Индикатор загрузки */
.loader {
	width: 1.25rem;
	height: 1.25rem;
	border: 1px solid currentColor;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: rotation 1s linear infinite;
}

/* Акцентные цвета */
.button [class*='-accent'] {
	color: var(--fade-uikit-white);
}

.pink-accent {
	background: var(--fade-uikit-gradient-pink);
}

.green-accent {
	background: var(--fade-uikit-gradient-green);
}

.yellow-accent {
	background: var(--fade-uikit-gradient-yellow);
}

.blue-accent {
	background: var(--fade-uikit-gradient-blue);
}

.purple-accent {
	background: var(--fade-uikit-gradient-purple);
}

.red-accent {
	background: var(--fade-uikit-gradient-red);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
