.modal {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: default;
	padding: 1.7rem 1.5rem;
	border-radius: var(--fade-uikit-radius-md);
	box-shadow: var(--fade-uikit-shadow-sm);
	background: var(--fade-uikit-gradient-base);
	color: var(--fade-uikit-white);
	font-size: 1.6rem;
	font-weight: 200;
	max-height: 80vh;
	z-index: var(--fade-uikit-modal-z-index);
	will-change: transform, opacity;
	opacity: 0;
	transform: scale(0.95);
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.ghost {
	background: var(--fade-uikit-gradient-component);
}

.content-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 100%;
	min-height: 0;
}

/* Состояния */
.opened {
	opacity: 1;
	transform: scale(1);
}

.closing {
	opacity: 0;
	transform: scale(0.95);
}

/* Размеры */
.sm {
	max-width: 30rem;
	min-height: 15rem;
}

.md {
	max-width: 54rem;
	min-height: 20rem;
}

.lg {
	max-width: 70rem;
	min-height: 25rem;
}

.full {
	width: 100%;
	min-height: 25rem;
}

.content {
	width: fit-content;
	height: fit-content;
	max-width: 90vw;
}

/* Секции */
.header {
	margin-bottom: 1rem;
	font-weight: 500;
}

.body {
	flex: 1;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	min-height: 0;
}

.footer {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.cross {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: var(--fade-uikit-radius-md);
	border: none;
	min-width: 4.7rem;
	min-height: 4.7rem;
	position: absolute;
	z-index: 10;
	cursor: pointer;
}

.cross:hover {
	filter: brightness(0.95);
}

.cross:focus {
	outline: none;
}

.cross:focus-visible {
	outline: 1px solid #fff;
}

.cross-top-right {
	inset: auto 0 calc(100% + 0.5rem) auto;
}

.cross-top-left {
	inset: auto auto calc(100% + 0.5rem) 0;
}

.cross-right-top {
	inset: 0 auto auto calc(100% + 0.5rem);
}

.cross-right-bottom {
	inset: auto auto 0 calc(100% + 0.5rem);
}

.cross-left-top {
	inset: 0 calc(100% + 0.5rem) auto auto;
}

.cross-left-bottom {
	inset: auto calc(100% + 0.5rem) 0 auto;
}

.cross-bottom-right {
	inset: calc(100% + 0.5rem) 0 auto auto;
}

.cross-bottom-left {
	inset: calc(100% + 0.5rem) auto auto 0;
}

.cross-inside {
	width: 3rem;
	height: 3rem;
	inset: 0 0 auto auto;
}

/* Анимации */
.center {
	transform: scale(0.95);
}

.center.opened {
	transform: scale(1);
}

.center.closing {
	transform: scale(0.95);
}

.top {
	transform: translateY(-100%);
}

.top.opened {
	transform: translateY(0);
}

.top.closing {
	transform: translateY(-100%);
}

.bottom {
	transform: translateY(100%);
}

.bottom.opened {
	transform: translateY(0);
}

.bottom.closing {
	transform: translateY(100%);
}

.left {
	transform: translateX(-100%);
}

.left.opened {
	transform: translateX(0);
}

.left.closing {
	transform: translateX(-100%);
}

.right {
	transform: translateX(100%);
}

.right.opened {
	transform: translateX(0);
}

.right.closing {
	transform: translateX(100%);
}
