.overlay {
	position: fixed;
	inset: 0;
	z-index: var(--fade-uikit-overlay-z-index);
	background: var(--fade-uikit-overlay-color);
	backdrop-filter: blur(6px);
	display: flex;
	padding: 2rem;
	cursor: pointer;
}

/* Позиционирование children */
.center {
	justify-content: center;
	align-items: center;
}

.left {
	justify-content: flex-start;
	align-items: center;
}

.right {
	justify-content: flex-end;
	align-items: center;
}

.top {
	justify-content: center;
	align-items: flex-start;
}

.top-left {
	justify-content: flex-start;
	align-items: flex-start;
}

.top-right {
	justify-content: flex-end;
	align-items: flex-start;
}

.bottom {
	justify-content: center;
	align-items: flex-end;
}

.bottom-left {
	justify-content: flex-start;
	align-items: flex-end;
}

.bottom-right {
	justify-content: flex-end;
	align-items: flex-end;
}
